body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
}

.search-input::placeholder {
    color: lightgray;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url(./images/black-textured-brick-wall-background_desktop.jpg);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); */
}

.slider-wrapper {
    display: flex;
    width: 500vw;
}

.slider-item {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide-bg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.slider-img {
    z-index: 1;
}

.slider-title {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-align: center;
    z-index: 1;
}

.slider-price {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    color: white;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}

.buy-button {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
    text-transform: uppercase;
}

.buy-button:hover {
    background-color: white;
    color: black;
}

.slider-item:nth-child(1) .slide-bg{
    background-color: rgb(87, 148, 102);
}
.slider-item:nth-child(2) .slide-bg{
    background-color: rebeccapurple;
}
.slider-item:nth-child(3) .slide-bg{
    background-color: teal;
}
.slider-item:nth-child(4) .slide-bg{
    background-color: cornflowerblue;
}
.slider-item:nth-child(5) .slide-bg{
    background-color: burlywood;
}

.slider-item:nth-child(1) .slider-price{
    color: rgb(87, 148, 102);
}
.slider-item:nth-child(2) .slider-price{
    color: white;
}
.slider-item:nth-child(3) .slider-price{
    color: teal;
}
.slider-item:nth-child(4) .slider-price{
    color: cornflowerblue;
}
.slider-item:nth-child(5) .slider-price{
    color: burlywood;
}

