body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
}

.search-input::placeholder {
    color: lightgray;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url(./images/black-textured-brick-wall-background_desktop.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.slider-wrapper {
    display: flex;
    width: 500vw;
}

.slider-item {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}